@import '_variables';

@mixin landing-background() {
  background: $landing-background;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@mixin flex-column-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-corners() {
  border-radius: $card-corners;
}

@mixin input-styling() {
  padding: 1rem;
  margin: .5rem 0;
  border: none;
  font-size: 1rem;
  font-family: $main-font;
}

@mixin room-img() {
  width: 100%;
  height: 55%;
  filter: opacity(.6);
}
