@import '_mixins';
@import '_variables';

.room-select-view {
  @include flex-column-center();
  width: 100%;
  height: 75vh;
}

.container-room-cards {
  @include flex-row-center();
  flex-wrap: wrap;
  width: 100%;
  height: 42rem;
  overflow: scroll;
}

.room-card {
  @include flex-column-center();
  @include card-corners();
  background-color: white;
  box-shadow: $card-shadow;
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  &:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(1.0025);
  }
}

.room-card img {
  @include room-img();
  height: 80%;
}

.no-results-options {
  @include flex-row-center();
  justify-content: space-around;
  margin: 1rem;
  width: 80%;
}

.no-results-msg {
  @include flex-column-center();
  @include card-corners();
  background-color: $elements-bkgd-color;
  padding: 2rem;
  box-shadow: $card-shadow;
}
