@import '_reset';
@import '_variables';
@import '_mixins';
@import '_modal';

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  font-family: $main-font;
}

body {
  @include landing-background();
  // font-family: $main-font;
  // background-image: $landing-background;
  // background-image: url("../images/pineapple_PNG2738.png");
}

header,
nav {
  background-color: $elements-bkgd-color;
}

header {
  display: flex;
  width: 100%;
  // font-family: $main-font;
  font-size: 10rem;
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
  background: $gradient-header;
    // padding-bottom: 10px;
}

nav {
  top: 0;
  width: 100%;
  @include flex-row-center();
  background: $gradient-nav;
  padding-bottom: 2rem;
}

.greeting {
  padding: 1rem 0;
  font-size: 1.5rem;
}

main,
.dashboard-view {
// .dashboard-view,
// .room-select-view {
  @include flex-row-center();
  justify-content: space-between;
  width: 100%;
  // height: 100%;
}

.room-select-view {
  @include flex-column-center();
  // justify-content: space-between;
  width: 100%;
}

.container-book-now-and-view-bookings {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  height: 54vh;
  width: 100%;
  // margin-bottom: 5rem;
  margin-top: 5rem;
}

.header-booking {
  font-size: 3rem;
  transform: rotate(-90deg);
  text-align: center;
  width: 15%;
  margin-top: 4rem;
  position: fixed;
  left: 0;
}

.book-now,
label {
  @include flex-column-center();
}

// .book-now,
.date-range-select,
.view-bookings {
  background-color: $elements-bkgd-color;
  @include card-corners();
}

.date-range-select {
  @include flex-column-center();
  height: 14rem;
  margin: 5rem 5rem 5rem 0;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

input[type="date"],
input[type="submit"],
input[type="button"] {
  @include input-styling();
  @include card-corners();
  transition: $transition-button;
}

input[type="submit"],
.room-type-filter-button,
.clear-all {
  background-color: gray;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.025);
  }
}

.button-selected {
  background-color: navy;
  color: white;
  &:hover {
    background-color: teal;
  }
}

::-webkit-calendar-picker-indicator {
  transition: $transition-button;
  &:hover {
    cursor: pointer;
    transform: scale(1.025);
  }
}

.view-bookings {
  @include flex-column-center();
  overflow-y: scroll;
  position: relative;
  padding-bottom: .5rem;
}

.container-booking-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1rem 0 .5rem 0;
}

.container-booking-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  // position: relative;
}

.booking-card {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  margin: 0 2rem 2rem 2rem;
  @include card-corners();
}

.room-select-view {
  height: 75vh;
}

.container-room-cards {
  @include flex-row-center();
  flex-wrap: wrap;
  width: 100%;
}

.room-card {
  @include flex-column-center();
  @include card-corners();
  background-color: white;
  width: 15rem;
  height: 20rem;
  margin: 2rem;
}

.room-card img {
  width: 100%;
  height: 55%;
  filter: opacity(.6);
}

.inactive {
  cursor: default;
  filter: brightness(25%);
  pointer-events: none;
}

.hidden {
  display: none;
}
