@import '_reset';
@import '_variables';
@import '_mixins';
@import '_modal';
@import '_buttons';
@import '_roomselect';
@import '_login';

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  font-family: $main-font;
}

body {
  @include landing-background();
}

header,
nav {
  background-color: $elements-bkgd-color;
}

header {
  display: flex;
  width: 100%;
  font-size: 10rem;
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
  background: $gradient-header;
}

nav {
  top: 0;
  width: 100%;
  @include flex-row-center();
  background: $gradient-nav;
  padding-bottom: 2rem;
}

.greeting {
  padding: 1rem 0;
  font-size: 1.5rem;
}

main,
.dashboard-view {
  @include flex-row-center();
  justify-content: space-between;
  width: 100%;
}

.container-book-now-and-view-bookings {
  display: flex;
  justify-content: space-around;
  height: 54vh;
  width: 100%;
  margin-top: 5rem;
}

.header-booking {
  font-size: 3rem;
  transform: rotate(-90deg);
  text-align: center;
  width: 18%;
  margin-top: 4rem;
  position: fixed;
  left: 0;
}

.book-now,
label {
  @include flex-column-center();
}

.date-range-select,
.view-bookings {
  @include card-corners();
  background-color: $elements-bkgd-color;
  box-shadow: $card-shadow;
}

.date-range-select {
  @include flex-column-center();
  height: 14rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

#start-date,
#end-date {
  box-shadow: $card-shadow;
}

.view-bookings {
  @include flex-column-center();
  overflow-y: scroll;
  position: relative;
  padding-bottom: .5rem;
}

.container-booking-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1rem 0 .5rem 0;
}

.container-booking-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.booking-card {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  margin: 0 2rem 2rem 2rem;
  @include card-corners();
  box-shadow: $card-shadow;
}

.hidden {
  display: none;
}
